html, body {
    position: relative;
    min-height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/background.png);
    padding: 0!important;
}

h1 {
    color: #4aaaa5!important;
    font-family: Georgia, 'Times New Roman', Times, serif!important;
}

    /* /////////////// */
    /* /// Header //// */
    /* /////////////// */

#header {
    background-color: #fff!important;
    border-bottom: 3px solid #cccccc;
    display: flex;
}

.navbar {
    padding: 0!important;
}

#navHeader {
    max-width: 960px;
    background: #fff;
    margin: 0 auto;
}

#navBarBrand {
    background-color: #4aaaa5; 
    padding: 25px; 
    float: left;
}

#myName {
    color: #fff!important;
    /* margin: 0 16%;
    padding: 25px; */
}

    /* /////////////// */
    /* /// Content /// */
    /* /////////////// */

#main {
    margin: 65px auto;
    max-width: 960px;
    width: 100%;
    background-color: #EAF2EF;
}

.container {
    padding: 20px 0;
    font-size: 1.15em;
}

#aboutMe, #Portfolio, #Contact {
    padding-top: 25px; 
    margin: 0;
}

/* .contentMain {
    float: left;
}

.contentMainBottom {
    clear: both;
} */

.imgHolder {
    margin: 25px;
    position: relative;
}

.imgText {
    position: absolute;
    top: 65%;
    width: 100%;
    text-align: center;
    background-color: #4aaaa5;
    font-size: 1em;
    padding: 10px;
    color: #fff;
}



    /* /////////////// */
    /* /// Footer //// */
    /* /////////////// */

#footer {
    padding: 25px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

#navFooter {
    background-color: #666!important;
    border-top: 10px solid #4aaaa5!important;
    padding: 25px!important;
    /* margin-top: 60px; */
}

#copyRight {
    margin: 20px;
}

    /* /////////////// */
    /* //// Etc. ////  */
    /* /////////////// */


    ::-webkit-scrollbar { 
        display: none; 
    }

